@use '../abstracts' as *;
@use '../components/home-issue-block';

.archive {
  #site-content {
    max-width: 800px;
    margin: rem(16) auto rem(48);

    @include breakpoint('large') {
      margin-top: rem(24);
    }

    @include breakpoint('xlarge') {
      margin-top: rem(32);
    }
  }
}
