@use '../abstracts' as *;

.single {
  // .container {
  //   @include breakpoint('large') {
  //     --container-padding: #{rem(40px)};
  //   }

  //   @include breakpoint('xlarge') {
  //     --container-padding: #{rem(56)};
  //   }
  // }

  &__title {
    color: var(--page-title);
  }

  &__header {
    position: relative;
    margin-bottom: rem(48);

    .single__excerpt {
      --line-height: #{rem(10)};
      position: relative;
      color: var(--page-excerpt);
      @extend %font-body-lg-post;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: rem(60);
        height: var(--line-height);
        background-color: var(--page-title-underline);
      }
    }
  }

  .featured-media__caption {
    margin-bottom: rem(12);
    color: $color-text-gray-70;
    @extend %font-body-sm;

    &::after {
      content: '';
      display: block;
      width: rem(40);
      height: 2px;
      margin-top: rem(12);
      background: $color-black-125;
    }
  }

  &__content {
    p:not([class]) {
      margin-bottom: rem(24);
    }

    p:empty {
      display: none;
    }
  }
}

.issues-template-default,
.post-template-default {
  .single__header {
    display: flex;
    flex-direction: column;
  }

  .single__header-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: rem(40) 0;

    @include breakpoint('medium') {
      width: 75%;
      max-width: 600px;
      padding-bottom: rem(24);
    }

    @include breakpoint('large') {
      margin-left: rem(24);
    }

    @include breakpoint('xlarge') {
      margin-left: rem(70);
    }
  }

  .single__header .featured-media {
    position: absolute;
    top: calc((var(--logo-height) + 4px) * -1);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $color-primary-darkest;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 50vw);
      display: block;
      width: 100vw;
      /* prettier-ignore */
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), linear-gradient(90deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 67.03%);
    }

    /* stylelint-disable-next-line */
    img {
      object-fit: cover;
      width: 100vw;
      max-width: unset;
      height: 100%;
      margin-left: calc(50% - 50vw);
    }
  }

  .post-meta {
    margin-bottom: rem(8);
  }

  .single__title {
    margin-bottom: rem(32);
  }

  .single__header .single__excerpt {
    padding-top: calc(var(--line-height) + 8px);

    @include breakpoint('medium') {
      display: grid;
      grid-gap: rem(24);
      grid-template-columns: repeat(2, auto);
      padding-top: 0;
    }

    &::before {
      top: 0;
      left: 0;

      @include breakpoint('medium') {
        position: relative;
        top: 8px;
      }
    }
  }
}
