@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;

  a {
    display: flex !important;
    align-items: center;

    &:first-of-type {
      margin-left: -4px;
    }

    &:hover path {
      fill: $color-text-gray-05;
    }

    path {
      transition: fill 0.3s ease-in-out;
      fill: $color-text-gray-70;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_svg {
    padding: 2px;
    border-radius: 50% !important;
    transition: background 0.3s ease-in-out;
  }

  @each $company, $color in $social {
    .a2a_button_#{$company}:hover .a2a_svg {
      background: $color !important;
      opacity: 1 !important;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_button_youtube {
    position: relative;
    top: 3px;
  }

  .single__footer & {
    margin-bottom: rem(16);

    @include breakpoint('small') {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint('large') {
      margin-top: rem(32);
    }

    &::before {
      content: 'Share';
      margin-right: rem(12);
      color: $color-text-gray-50;
      @extend %font-label-lg;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .footer & {
    @include breakpoint($break: 'medium', $dir: 'max-width') {
      justify-content: center;
    }

    a {
      flex: 1 1 auto;
      max-width: fit-content;

      /* stylelint-disable-next-line */
      path {
        fill: $color-text-gray-10;
      }

      /* stylelint-disable-next-line */
      &:hover path {
        fill: $color-white-100;
      }
    }
  }
}
