@use 'abstracts' as *;

:root {
  --scrollbar: 0;
  --logo-width: 120px;
  --logo-height: 32px;
  --logo-color: #{$color-black-100};
  --breadcrumbs-color: #{$color-text-gray-70};
  --breadcrumbs-color-hover: #{$color-black-100};
  --breadcrumbs-divider: #{$color-black-130};
  --page-title: #{$color-black-100};
  --page-title-underline: #{$color-black-100};
  --page-excerpt: #{$color-text-gray-70};
  --post-meta: #{$color-text-gray-70};
  --post-meta-divider: #{$color-black-125};

  @include breakpoint('medium') {
    --logo-width: 175px;
    --logo-height: 48px;
  }
}

*:focus {
  outline: 1px solid $color-primary-light;
}

html,
body {
  overflow-x: hidden;
}

.theme--light {
  --logo-color: #{$color-white-100};
  --breadcrumbs-color: #{$color-text-gray-10};
  --breadcrumbs-color-hover: #{$color-white-100};
  --breadcrumbs-divider: #{$color-white-150};
  --page-title: #{$color-white-100};
  --page-title-underline: #{$color-white-100};
  --page-excerpt: #{$color-text-gray-05};
  --post-meta: #{$color-text-gray-05};
  --post-meta-divider: #{$color-white-130};
}

.container {
  --container-padding: #{rem(20)};

  $padding: (
    'small': 24,
    'large': 48,
    'xlarge': 64,
  );

  position: relative;
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: rem(20);
  padding-right: var(--container-padding);
  padding-left: rem(20);
  padding-left: var(--container-padding);

  @each $size, $value in $padding {
    @include breakpoint($size) {
      --container-padding: #{rem($value)};
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: calc(50% - (var(--logo-width) / 2));
    width: var(--logo-width);
    height: 2px;
  }

  &::before {
    top: 0;
    background: var(--logo-color);
  }

  &::after {
    bottom: 0;
    background: $color-text-gray-10;
  }
}
